# Purpose
predict client's sex through transactions

In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = 'C:/Users/nowic/Desktop/home_tasks/pets/sex_classifier/raw_data/'

## codes

In [3]:
codes = pd.read_csv(f'{filepath}codes.csv', sep=';')
codes

     code                                   code_description
0    5944  Магазины по продаже часов, ювелирных изделий и...
1    5621                           Готовые сумочные изделия
2    5697       Услуги по переделке, починке и пошиву одежды
3    7995                       Транзакции по азартным играм
4    5137             Мужская, женская и детская спец-одежда
..    ...                                                ...
179  5044  Офисное, фотографическое, фотокопировальное, и...
180  5983  Горючее топливо — уголь, нефть, разжиженный бе...
181  5994               Дилеры по продаже печатной продукции
182  5192              Книги, периодические издания и газеты
183  7922                 Театральные продюсерские агентства

[184 rows x 2 columns]

In [4]:
codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   code              184 non-null    int64
 1   code_description  184 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.0+ KB

## types

In [5]:
types = pd.read_csv(f'{filepath}types.csv', sep=';')
types

     type                                   type_description
0    8001                 Установление расх. лимита по карте
1    2411  Перевод с карты на счет др.лица в одном тер. б...
2    4035                                    н/д(нет данных)
3    3001            Комиссия за обслуживание ссудного счета
4    2420  Перевод с карты на счет физ.лица в другом тер....
..    ...                                                ...
150  4110                 Плата за получение наличных в АТМ.
151  2320     Безналичный перевод денежных средств через POS
152  7040  Перевод на карту (с карты) через POS (в предел...
153  2433  Перевод с карты на счет физ.лица в другом банк...
154  2431  Перевод с карты на счет физ.лица в другом банк...

[155 rows x 2 columns]

In [6]:
types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   type              155 non-null    int64
 1   type_description  155 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB

In [7]:
types.isnull().sum()

type                0
type_description    0
dtype: int64

## train

In [8]:
train = pd.read_csv(f'{filepath}train.csv')
train

      client_id      datetime  code  type    amount  target
0      16004843  245 22:10:18  5411  1010  -7928.08       0
1      20873616  433 07:44:21  4814  1030    -56.15       0
2      65231233  164 15:58:23  5411  1010  -4689.47       1
3      29536165  413 11:47:51  5411  1010  -3703.52       1
4      66473821  280 05:17:26  6010  7030  67377.47       1
...         ...           ...   ...   ...       ...     ...
4395   15762885  435 00:00:00  5499  1110  -6288.56       1
4396   32301971  395 21:29:06  5411  1010  -4289.70       0
4397   28558979   41 06:09:09  6011  2011 -89836.63       1
4398   87252636  438 15:04:44  6010  7071  59584.15       0
4399    7654410    5 14:50:16  4814  1030  -5614.79       0

[4400 rows x 6 columns]

In [9]:
train.isnull().sum()

client_id    0
datetime     0
code         0
type         0
amount       0
target       0
dtype: int64

In [10]:
train.describe()

          client_id         code         type        amount       target
count  4.400000e+03  4400.000000  4400.000000  4.400000e+03  4400.000000
mean   5.118095e+07  5591.175909  2477.993636 -2.582942e+04     0.450455
std    2.845942e+07   618.250575  2239.280882  3.799930e+05     0.497596
min    3.138500e+04   742.000000  1010.000000 -1.122958e+07     0.000000
25%    2.640954e+07  5211.000000  1030.000000 -2.245916e+04     0.000000
50%    5.320309e+07  5541.000000  1110.000000 -5.362350e+03     0.000000
75%    7.508276e+07  6010.000000  2370.000000 -1.122960e+03     1.000000
max    9.993895e+07  9399.000000  7075.000000  6.737747e+06     1.000000

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4400 entries, 0 to 4399
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  4400 non-null   int64
 1   datetime   4400 non-null   object
 2   code       4400 non-null   int64
 3   type       4400 non-null   int64
 4   amount     4400 non-null   float64
 5   target     4400 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 206.4+ KB

## val

In [12]:
val = pd.read_csv(f'{filepath}val.csv')
val

     client_id      datetime  code  type     amount  target
0     32250029    5 18:47:13  6011  2010 -105558.04       0
1     62912334  385 12:59:06  6011  2010   -8983.66       0
2     78738215  320 15:13:17  6010  7070  269509.89       0
3     72106418  370 18:02:14  5331  1010   -5540.67       1
4     54271008  233 09:56:30  6011  7011   11229.58       0
..         ...           ...   ...   ...        ...     ...
795   66245004   14 13:42:20  6011  2010  -22459.16       1
796   46562431  441 19:23:14  6010  7070   44918.32       1
797   64504493  224 12:36:21  6011  2010 -128017.20       1
798   47578863  264 17:24:29  5411  1010   -9334.03       1
799   61830325    9 09:48:56  6011  7010   11229.58       0

[800 rows x 6 columns]

In [13]:
val.isnull().sum()

client_id    0
datetime     0
code         0
type         0
amount       0
target       0
dtype: int64

In [14]:
val.describe()

          client_id         code         type        amount      target
count  8.000000e+02   800.000000   800.000000  8.000000e+02  800.000000
mean   5.174563e+07  5598.836250  2468.247500 -2.007146e+04    0.432500
std    2.809688e+07   584.545301  2243.665371  2.874749e+05    0.495733
min    4.209600e+04  4112.000000  1010.000000 -3.593465e+06    0.000000
25%    2.795721e+07  5331.000000  1025.000000 -2.245916e+04    0.000000
50%    5.488868e+07  5541.000000  1110.000000 -5.614790e+03    0.000000
75%    7.483523e+07  6011.000000  2370.000000 -1.209985e+03    1.000000
max    9.983442e+07  9399.000000  7071.000000  4.941015e+06    1.000000

In [15]:
val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  800 non-null    int64
 1   datetime   800 non-null    object
 2   code       800 non-null    int64
 3   type       800 non-null    int64
 4   amount     800 non-null    float64
 5   target     800 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 37.6+ KB

## Final dataset to investigate

In [19]:
# в val сете такой же бардак, как и в train, поэтому соединяем их для удобства
transactions = pd.concat([train, val], ignore_index=True)
transactions

      client_id      datetime  code  type     amount  target
0      16004843  245 22:10:18  5411  1010   -7928.08       0
1      20873616  433 07:44:21  4814  1030     -56.15       0
2      65231233  164 15:58:23  5411  1010   -4689.47       1
3      29536165  413 11:47:51  5411  1010   -3703.52       1
4      66473821  280 05:17:26  6010  7030   67377.47       1
...         ...           ...   ...   ...        ...     ...
5195   66245004   14 13:42:20  6011  2010  -22459.16       1
5196   46562431  441 19:23:14  6010  7070   44918.32       1
5197   64504493  224 12:36:21  6011  2010 -128017.20       1
5198   47578863  264 17:24:29  5411  1010   -9334.03       1
5199   61830325    9 09:48:56  6011  7010   11229.58       0

[5200 rows x 6 columns]

In [20]:
joined = transactions.join(types.set_index('type'), on='type')
joined

,client_id,datetime,code,type,amount,target,type_description
0,16004843,245 22:10:18,5411,1010,-7928.08,0,Покупка. POS
1,20873616,433 07:44:21,4814,1030,-56.15,0,Оплата услуги. Банкоматы
2,65231233,164 15:58:23,5411,1010,-4689.47,1,Покупка. POS
3,29536165,413 11:47:51,5411,1010,-3703.52,1,Покупка. POS
4,66473821,280 05:17:26,6010,7030,67377.47,1,Перевод на карту (с карты) через АТМ (в предел...
...,...,...,...,...,...,...,...
5195,66245004,14 13:42:20,6011,2010,-22459.16,1,Выдача наличных в АТМ
5196,46562431,441 19:23:14,6010,7070,44918.32,1,Перевод на карту (с карты) через Мобильный бан...
5197,64504493,224 12:36:21,6011,2010,-128017.20,1,Выдача наличных в АТМ
5198,47578863,264 17:24:29,5411,1010,-9334.03,1,Покупка. POS
5199,61830325,9 09:48:56,6011,7010,11229.58,0,Взнос наличных через АТМ (в своем тер.банке)

In [21]:
final = joined.join(codes.set_index('code'), on='code')
final

,client_id,datetime,code,type,amount,target,type_description,code_description
0,16004843,245 22:10:18,5411,1010,-7928.08,0,Покупка. POS,"Бакалейные магазины, супермаркеты"
1,20873616,433 07:44:21,4814,1030,-56.15,0,Оплата услуги. Банкоматы,"Звонки с использованием телефонов, считывающих..."
2,65231233,164 15:58:23,5411,1010,-4689.47,1,Покупка. POS,"Бакалейные магазины, супермаркеты"
3,29536165,413 11:47:51,5411,1010,-3703.52,1,Покупка. POS,"Бакалейные магазины, супермаркеты"
4,66473821,280 05:17:26,6010,7030,67377.47,1,Перевод на карту (с карты) через АТМ (в предел...,Финансовые институты — снятие наличности вручную
...,...,...,...,...,...,...,...,...
5195,66245004,14 13:42:20,6011,2010,-22459.16,1,Выдача наличных в АТМ,Финансовые институты — снятие наличности автом...
5196,46562431,441 19:23:14,6010,7070,44918.32,1,Перевод на карту (с карты) через Мобильный бан...,Финансовые институты — снятие наличности вручную
5197,64504493,224 12:36:21,6011,2010,-128017.20,1,Выдача наличных в АТМ,Финансовые институты — снятие наличности автом...
5198,47578863,264 17:24:29,5411,1010,-9334.03,1,Покупка. POS,"Бакалейные магазины, супермаркеты"
5199,61830325,9 09:48:56,6011,7010,11229.58,0,Взнос наличных через АТМ (в своем тер.банке),Финансовые институты — снятие наличности автом...

In [22]:
final.to_csv('C:/Users/nowic/Desktop/home_tasks/pets/sex_classifier/raw_data/final.csv', index=False)